@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500&display=swap');

/* font-family: 'Poppins', sans-serif; */
.header {
    width: 356px;
    display: flex;
    flex-direction: column;
    margin-top: 72px;
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 10px;
    border-bottom: 1px solid #D9D9D9;
}

/* .input-icon img {
    position: absolute;
left: 85.28%;
right: 11.21%;
top: 8.86%;
bottom: 89.52%;

border: 1.5px solid rgba(0, 0, 0, 0.7);
} */

input {
    width: 356px;
    height: 35px;
    background: #D9D9D9;
    border-radius: 15px;
    border: none;
    margin-bottom: 20px;
}

::placeholder {
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    line-height: 20px;
    /* width: 104px;
    height: 18px;  */
    text-align: center;
    letter-spacing: 1px;
}

.head-btn {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-evenly;
    width: 300px;
    /* border: 1px solid #D9D9D9;
    transform: rotate(-0.16deg); */
}

button {
    width: 76px;
    height: 26px;
    background: #D9D9D9;
    border-radius: 7px;
    border: none;
    letter-spacing: 1.2px;
    padding: 4px;
    font-family: 'Poppins', sans-serif;
}

.btn2{
    width: 88px;
    height: 26px;
}

.btn-img1 {
    /* padding: 1px; */
    width: 14px;
    height: 14px;
    left: 49px;
    top: 163px;
    
}

@media (max-width: 480px) {
    .header {
        display: flex;
        flex-direction: column;
        margin-top: 72px;
        padding-left: 36px;
        padding-right: 36px;
    }
    
    /* .input-icon img {
        position: absolute;
        left: 136.28%;
        right: 11.21%;
        top: 16.86%;
        bottom: 99.52%;
        border: 1.5px solid rgba(0, 0, 0, 0.7);
    }
     */
    input {
        width: 356px;
        height: 35px;
        background: #D9D9D9;
        border-radius: 15px;
        border: none;
    }
    
    ::placeholder {
        font-size: 12px;
        font-weight: 400;
        font-style: normal;
        font-family: 'Poppins', sans-serif;
        line-height: 20px;
        /* width: 104px;
        height: 18px; */
        text-align: center;
        letter-spacing: 1px;
    }
}